body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: url(img/bg.jpg) 100% 100% no-repeat;;
	background-size: cover;
}
.flex { 
	display: flex; 
}

h1 {
	text-align: center;
	margin: 50px 0;
}
p, a {
	font-size: 20px;
}
