body{ 
	font-family:arial;
	padding:20px; 
	background: url(img/bg.jpg);
	height: 100vh;
	text-align: center;
	color: #fff;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	max-width: 50%; /* макс ширина */
	margin: 0 auto;
	align-items: center; /* выровняем по центру */
}

.item{
	flex:1 1 calc(33.33% - 30px); /* отнимем margin и скажем растягиваться */
	margin:5px;
	box-sizing:border-box; /* чтобы внутренний отступ не влиял когда там будет текст... */
	min-width:170px; /* мин. ширина блока, чтобы переносились на другой ряд */
	padding:50px 20px;     
	font-size: 20px;
    	vertical-align: middle; 
	height: 40vh;
	background: #b5ced8;
	opacity: 0.5;
	align-items: center;
  	justify-content: center;
	/* для красоты */
}
