body{ 
	font-family:arial;
	padding:20px; 
	background: url(img/bg.jpg);
	height: 100vh;
	text-align: center;
	color: #fff;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%; /* макс ширина */
    	width: 200px;
	height: 50px;
	margin: 0 auto;  	
}

.item{
	display: inline-block; /*центрируем элемент*/
	flex:1 1 calc(33.33% - 30px); /* отнимем margin и скажем растягиваться */
	margin:5px;
	box-sizing:border-box; /* чтобы внутренний отступ не влиял когда там будет текст... */
	min-width:150px; /* мин. ширина блока, чтобы переносились на другой ряд */
	padding:50px 20px; 
	align-items: center;
        justify-content: center;
        flex-direction: column;
	background-color: rgba(181, 206, 216, 0.5);
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #fafafa;
	padding: 16px 26px;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0px 6px #27ae60;
	background: #2ecc71;
}
a:hover {
	background: #36d479;
}
a:active {
	position: relative;
	top: 6px;
	box-shadow: 0px 0px #23a33d;
	background: #23a33d;
}
